<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
<ul>
    <li><a href="{{ path('project_import') }}">Import project</a></li>
    <li><a href="{{ path('project_list') }}">List projects</a></li>
</ul>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
