<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block menu %}
    {% set menuLinks = [
        {'route': 'project_import', 'title': 'Import project'},
        {'route': 'project_list', 'title': 'List projects'},
        {'route': 'connections_list', 'title': 'List VCS connections'},
    ] %}
    <ul>
        {% for entry in menuLinks %}
            <li><a href="{{ path(entry.route) }}">{{ entry.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
