{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('connections_create') }}">Add new connection</a>
    <table>
        <thead>
        <tr>
            <th>Driver</th>
            <th>Host</th>
            <th>Created at</th>
        </tr>
        </thead>
        <tbody>
        {% for connection in connections %}
            <tr>
                <td>{{ connection.driver }}</td>
                <td>{{ connection.host }}</td>
                <td>{{ connection.createdAt|date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
